@charset "UTF-8";
html {
  font-size: 12px;
  font-familiy: "微软雅黑"; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #666;
  text-align: center; }

li {
  list-style: none; }

img {
  vertical-align: middle;
  border: 0; }

input {
  outline: none; }

.cl:after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  visibility: hidden; }

.cl {
  zoom: 1; }

.header {
  padding-top: 24px;
  width: 100%; }

.line-top {
  width: 100%;
  background: #f7f7f7;
  border-bottom: 1px solid #e8e8e8;
  height: 24px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }

/* header */
header {
  height: 93px;
  width: 100%;
  background: #333;
  border-top: 1px solid #787878; }

header .headerCon1 {
  position: relative;
  width: 1200px;
  height: 48px;
  margin: 0 auto; }
  header .headerCon1 div:hover ul {
    display: block; }

header .headerCon1 > a {
  font-size: 12px;
  color: #b3b3b3;
  display: block;
  float: left;
  height: 14px;
  line-height: 14px;
  text-align: center; }

header .headerCon1 > a:nth-of-type(1) {
  margin: 14px 14px 0px 4px; }

header .headerCon1 a:nth-of-type(2) {
  margin: 14px 22px 0px 0px; }
  header .headerCon1 a:nth-of-type(2) span {
    color: red;
    padding: 0 2px; }

header .headerCon1 div {
  width: 61px;
  height: 14px;
  margin: 14px 248px 0px 0px;
  float: left;
  position: relative; }
  header .headerCon1 div ul {
    position: absolute;
    display: none;
    width: 73px;
    height: 166px;
    border: 1px solid #d7d7d7;
    left: -8px;
    top: -14px;
    background: #fff; }
    header .headerCon1 div ul li a {
      font-size: 12px;
      color: black;
      display: block;
      height: 14px;
      line-height: 14px;
      text-align: center;
      padding-left: 12px;
      margin-bottom: 12px; }
    header .headerCon1 div ul li .zouxiu {
      background: url(../images/spriter2016.png) no-repeat;
      background-position: -223px -155px;
      padding-left: 12px;
      margin-top: 12px; }

header .headerCon1 div > a {
  background: url(../images/spriter2016.png) no-repeat;
  float: left;
  background-position: -229px -120px;
  padding-left: 12px;
  position: relative;
  font-size: 12px;
  color: #b3b3b3;
  display: block;
  height: 14px;
  line-height: 14px;
  text-align: center; }

header .headerCon1 img {
  position: absolute;
  left: 505px;
  top: 10px; }

header .headerCon1 input {
  position: absolute;
  left: 938px;
  top: 10px;
  display: block;
  height: 26px;
  width: 229px;
  border: 1px solid #787878;
  border-right: 0;
  background: #333;
  font-size: 12px;
  line-height: 26px;
  color: #787878;
  padding-left: 8px; }

header .headerCon1 a:nth-of-type(3) {
  margin-top: 10px; }

.icon-password {
  font-size: 14px; }

.search_a {
  position: absolute;
  left: 1175px;
  top: 0px; }

.icon-search {
  display: block;
  height: 26px;
  line-height: 26px;
  border: 1px solid #787878;
  border-left: 0;
  font-size: 16px;
  padding-right: 7px; }

header .headerCon2 {
  width: 873px;
  height: 45px;
  margin: 0 auto;
  padding-left: 327px; }

header .headerCon2 ul {
  float: left;
  margin-bottom: 1px; }

header .headerCon2 ul li {
  float: left; }
  header .headerCon2 ul li a:hover {
    border-bottom: 2px solid #787878; }

header .headerCon2 ul li a {
  display: block;
  height: 42px;
  width: 60px;
  line-height: 45px;
  font-size: 13px;
  text-align: center;
  color: #f4ece1;
  margin-right: 14px;
  /* cursor : default; */ }

header .headerCon2 ul li:first-child a {
  border-bottom: 2px solid #787878; }

header .headerCon2 ul li:last-child a {
  margin-right: 0; }

/*nav*/
nav {
  width: 100%;
  height: 42px;
  background: #f7f7f7; }

.navCon {
  height: 42px;
  padding-left: 280px;
  width: 920px;
  margin: 0 auto; }

.navCon ul {
  margin: 0 auto;
  height: 42px; }

.navCon .navConUl > li {
  position: relative;
  float: left; }
  .navCon .navConUl > li > a:hover {
    background: #fff; }
  .navCon .navConUl > li .dropdown-menu {
    display: none;
    border: 1px solid #959595;
    border-top: 0;
    padding-left: 15px;
    position: absolute;
    width: 731px;
    height: 286px;
    background: #fff;
    left: 0;
    top: 42px; }
    .navCon .navConUl > li .dropdown-menu .dropdown-menuL {
      width: 450px;
      height: 286px;
      float: left; }
      .navCon .navConUl > li .dropdown-menu .dropdown-menuL div > a {
        display: block;
        font-size: 12px;
        height: 12px;
        line-height: 12px;
        font-weight: 900;
        color: #000;
        text-align: left; }
      .navCon .navConUl > li .dropdown-menu .dropdown-menuL ul {
        height: 12px; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuL ul li {
          float: left; }
          .navCon .navConUl > li .dropdown-menu .dropdown-menuL ul li a {
            display: block;
            font-size: 12px;
            color: #000;
            height: 12px;
            line-height: 12px;
            border-right: 1px solid #959595;
            padding-left: 5px;
            padding-right: 10px; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuL ul li:last-of-type > a {
          border-right: 0; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuL ul li:first-of-type > a {
          padding-left: 0; }
      .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL1 {
        margin-top: 20px;
        width: 450px;
        height: 56px;
        border-bottom: 1px dashed #959595; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL1 ul:nth-of-type(1) {
          margin: 7px 0; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL1 ul:first-of-type li:first-of-type a {
          color: red; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL1 ul:first-of-type li:last-of-type a {
          color: red; }
      .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL2 {
        margin-top: 13px;
        width: 450px;
        height: 56px;
        border-bottom: 1px dashed #959595; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL2 ul:nth-of-type(1) {
          margin: 7px 0; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL2 ul:first-of-type li:nth-of-type(3) a {
          color: red; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL2 ul:nth-of-type(2) li:nth-of-type(1) a {
          color: red; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL2 ul:nth-of-type(2) li:nth-of-type(2) a {
          color: red; }
      .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL3 {
        margin-top: 13px;
        width: 450px;
        height: 51px;
        border-bottom: 1px dashed #959595; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL3 ul:nth-of-type(1) {
          margin-top: 7px; }
      .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL4 {
        margin-top: 13px;
        width: 450px;
        height: 51px; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL4 ul:nth-of-type(1) {
          margin-top: 7px; }
          .navCon .navConUl > li .dropdown-menu .dropdown-menuL .dropdown-menuL4 ul:nth-of-type(1) li:first-of-type a {
            color: red; }
    .navCon .navConUl > li .dropdown-menu .dropdown-menuR {
      margin-top: 16px;
      float: right;
      width: 245px;
      height: 286px; }
      .navCon .navConUl > li .dropdown-menu .dropdown-menuR h2 {
        font-size: 12px;
        height: 12px;
        line-height: 12px;
        font-weight: 900;
        color: #000; }
      .navCon .navConUl > li .dropdown-menu .dropdown-menuR div {
        margin-top: 6px;
        width: 245px;
        height: 249px; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuR div ul {
          float: left; }
          .navCon .navConUl > li .dropdown-menu .dropdown-menuR div ul li a {
            display: block;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            color: #000; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuR div ul:first-of-type {
          margin-right: 24px; }
          .navCon .navConUl > li .dropdown-menu .dropdown-menuR div ul:first-of-type li:nth-of-type(1) a {
            color: red; }
          .navCon .navConUl > li .dropdown-menu .dropdown-menuR div ul:first-of-type li:nth-of-type(2) a {
            color: red; }
          .navCon .navConUl > li .dropdown-menu .dropdown-menuR div ul:first-of-type li:nth-of-type(3) a {
            color: red; }
          .navCon .navConUl > li .dropdown-menu .dropdown-menuR div ul:first-of-type li:nth-of-type(7) a {
            color: red; }
          .navCon .navConUl > li .dropdown-menu .dropdown-menuR div ul:first-of-type li:nth-of-type(8) a {
            color: red; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuR div ul:nth-of-type(2) li:nth-of-type(1) a {
          color: red; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuR div ul:nth-of-type(2) li:nth-of-type(2) a {
          color: red; }
        .navCon .navConUl > li .dropdown-menu .dropdown-menuR div ul:nth-of-type(2) li:nth-of-type(6) a {
          color: red; }

.navCon > ul > li > a {
  display: block;
  height: 42px;
  line-height: 42px;
  width: 67px;
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  cursor: default; }

.del-box {
  width: 1210px;
  zoom: 1;
  margin: auto; }

.del-box .del-title {
  padding: 8px 0;
  vertical-align: baseline; }

.del-box .del-title .del-nav {
  float: left;
  padding: 6px 8px 0; }

.del-box .del-title .del-nav a {
  color: #666;
  overflow: visible;
  padding: 0 6px;
  text-decoration: none; }

.del-box .del-title .del-nav a:first-child {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px; }

.del-box .del-title .del-nav a:hover {
  text-decoration: underline; }

.del-box .del-content .enlarge {
  position: relative;
  min-height: 536px; }

.del-box .del-content .enlarge .enlarge-l {
  float: left;
  margin-bottom: 20px;
  margin-left: 1px;
  border: 1px solid #e8e8e8; }

.del-box .del-content .enlarge .enlarge-l img {
  width: 100%;
  height: 100%; }

.del-box .del-content .enlarge .enlarge-l #s_box {
  width: 402px;
  height: 536px;
  position: relative; }

.del-box .del-content .enlarge .enlarge-l #s_box .position_box {
  width: 200px;
  height: 200px;
  background: #b6b6b6;
  opacity: .6;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: none; }

.del-box .del-content .enlarge .enlarge-l #s_box .mark_box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10; }

.del-box .del-content .enlarge .enlarge-l #b_box {
  width: 402px;
  height: 536px;
  overflow: hidden;
  position: absolute;
  left: 400px;
  top: 0px;
  display: none;
  border: 5px solid #b6b6b6; }

.del-box .del-content .enlarge .enlarge-l #b_box_all {
  position: absolute;
  width: 900px;
  height: 1200px;
  left: -80px;
  top: -30px;
  z-index: 1; }
  .del-box .del-content .enlarge .enlarge-l #b_box_all img {
    width: 100%;
    height: 100%; }

.del-box .del-content .enlarge .enlarge-r {
  padding-left: 100px;
  float: left; }

.del-box .del-content .enlarge .enlarge-r .del-title {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px dotted #e7e7e7; }

.del-box .del-content .enlarge .enlarge-r .del-title h3 {
  max-height: 48px;
  line-height: 24px;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  overflow: hidden; }

.del-box .del-content .enlarge .enlarge-r .del-title h5 {
  height: 48px;
  line-height: 24px;
  font-size: 15px;
  color: red;
  overflow: hidden; }

.del-box .del-content .enlarge .enlarge-r .del-attr {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px dotted #e7e7e7;
  line-height: 28px; }

.del-box .del-content .enlarge .enlarge-r .del-attr dl dt {
  width: 76px;
  float: left; }

.del-box .del-content .enlarge .enlarge-r .del-attr dl dd {
  float: left; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-priceOld dd b {
  font-weight: 400;
  font-size: 13px;
  font-family: "Microsoft Yahei";
  text-decoration: line-through; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-price dd b {
  font-size: 24px;
  font-weight: 700;
  color: #e4393d; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-price dd a {
  margin-left: 26px;
  color: #1a66b3; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-express dd:first-child .store {
  position: relative;
  display: inline-block;
  height: 22px;
  line-height: 20px; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-express dd:first-child .store span {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 18px 0 6px;
  border: 1px solid #d5d5d5;
  cursor: pointer;
  background: #fff;
  position: relative;
  z-index: 2; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-express dd:first-child .express-span {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #666; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-express dd:last-child {
  height: 27px;
  line-height: 27px;
  font-weight: 400;
  vertical-align: baseline;
  outline: 0; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-express dd:last-child b {
  font-weight: 700; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-express dd:last-child a {
  margin-left: 30px;
  color: #1a66b3; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-author dd a {
  color: #1D66B2; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-author dd a:hover {
  text-decoration: underline; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-class dd a {
  color: #1a66b3; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-class dd a:hover {
  text-decoration: underline; }

.del-box .del-content .enlarge .enlarge-r .del-attr .del-sale dd p {
  font-weight: 700;
  color: #e4393d; }

.del-box .del-content .enlarge .enlarge-r .del-purchase {
  border-bottom: 0 none;
  padding-bottom: 12px;
  margin-bottom: 12px;
  line-height: 28px; }

.del-box .del-content .enlarge .enlarge-r .del-purchase dl dt {
  width: 76px;
  float: left; }

.del-box .del-content .enlarge .enlarge-r .del-purchase dl dd {
  float: left; }

.del-box .del-content .enlarge .enlarge-r .del-purchase .del-num a {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #d5d5d5;
  line-height: 13px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle; }

.del-box .del-content .enlarge .enlarge-r .del-purchase .del-num input {
  width: 34px;
  height: 20px;
  line-height: 20px;
  margin: 0 3px;
  text-align: center;
  border: 1px solid #a0a0a0;
  vertical-align: middle;
  color: #343434; }

.del-box .del-content .enlarge .enlarge-r .del-purchase .del-buy {
  padding: 18px 0; }

.del-box .del-content .enlarge .enlarge-r .del-purchase .del-buy dd div {
  cursor: pointer;
  display: inline-block;
  width: 172px;
  height: 37px;
  margin-right: 19px;
  background: url(../images/list/common-btn.png) no-repeat;
  background-position: 0 -38px;
  color: #fff;
  font-size: 0;
  vertical-align: middle; }

.del-box .del-content .enlarge .enlarge-r .del-purchase .del-server dd {
  float: none; }

.del-box .del-content .enlarge .enlarge-r .del-purchase .del-server dd:last-child {
  padding: 10px 0;
  display: block;
  color: #ddd;
  margin-left: 64px; }

.del-box .del-content .enlarge .enlarge-r .del-purchase .del-server dd:last-child a {
  margin: 0 11px;
  color: #666; }

.del-box .del-content .enlarge .enlarge-r .del-purchase .del-server dd:last-child a:hover {
  text-decoration: underline; }

#sidebar {
  width: 68px;
  height: 258px;
  position: fixed;
  top: 160px;
  right: 35px;
  border: 1px solid #ccc; }
  #sidebar .closed {
    display: block;
    color: red;
    width: 68px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    cursor: pointer; }
    #sidebar .closed:hover {
      background: red;
      color: #fff; }
  #sidebar .backtop_con {
    width: 68px;
    height: 224px; }
    #sidebar .backtop_con .shopping_menu {
      display: none;
      width: 270px;
      border-right: 2px solid #b6b6b6;
      position: absolute;
      height: 1000px;
      top: -1px;
      right: 68px; }
      #sidebar .backtop_con .shopping_menu li {
        font-size: 14px;
        height: 100px; }
        #sidebar .backtop_con .shopping_menu li .sc_goodsPic {
          width: 80px;
          height: 80px;
          border: 1px solid #b6b6b6;
          float: left; }
          #sidebar .backtop_con .shopping_menu li .sc_goodsPic img {
            width: 100%;
            height: 100%; }
        #sidebar .backtop_con .shopping_menu li .sc_goodsName1 {
          line-height: 20px;
          color: #999;
          margin-left: 20px;
          float: left;
          width: 125px; }
        #sidebar .backtop_con .shopping_menu li .sc_goodsPrice {
          line-height: 20px;
          color: #999;
          margin-left: 20px;
          float: left;
          width: 125px; }
        #sidebar .backtop_con .shopping_menu li .sc_goodsBtn {
          margin-top: 10px;
          background: #fc1934;
          color: #fff;
          text-align: center;
          float: left;
          line-height: 30px;
          width: 60px;
          height: 30px;
          margin-left: 20px;
          cursor: pointer; }
        #sidebar .backtop_con .shopping_menu li .sc_goodsNum {
          margin-top: 10px;
          float: left;
          line-height: 30px;
          font-size: 10px;
          margin-left: 5px;
          font-size: 14px; }
    #sidebar .backtop_con .service, #sidebar .backtop_con .shopping, #sidebar .backtop_con .speak, #sidebar .backtop_con .backtop {
      width: 68px;
      height: 56px;
      border-bottom: 1px solid #ccc;
      position: relative;
      cursor: pointer; }
      #sidebar .backtop_con .service:hover, #sidebar .backtop_con .shopping:hover, #sidebar .backtop_con .speak:hover, #sidebar .backtop_con .backtop:hover {
        background: #D79B21;
        color: #fff; }
      #sidebar .backtop_con .service span, #sidebar .backtop_con .shopping span, #sidebar .backtop_con .speak span, #sidebar .backtop_con .backtop span {
        position: absolute;
        font-size: 12px;
        left: 10px;
        top: 30px; }
      #sidebar .backtop_con .service .shopping_Num, #sidebar .backtop_con .shopping .shopping_Num, #sidebar .backtop_con .speak .shopping_Num, #sidebar .backtop_con .backtop .shopping_Num {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: red;
        top: 10px;
        left: 36px;
        text-align: center;
        font-size: 14px;
        color: #fff; }
      #sidebar .backtop_con .service .shopping_Bag, #sidebar .backtop_con .shopping .shopping_Bag, #sidebar .backtop_con .speak .shopping_Bag, #sidebar .backtop_con .backtop .shopping_Bag {
        left: 15px; }
